@font-face {
    font-family: 'Arial Bold';
    src: url('../fonts/cdi/Arial-Bold.woff') format('woff');
    font-style: normal;
}
@font-face {
    font-family: 'Arial';
    src: url('../fonts/cdi/Arial.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
