@font-face {
    font-family: 'Aux bold';
    src: url('../fonts/instock/AauxPro-Bold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Aux regular';
    src: url('../fonts/instock/AauxPro-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Aux ultra';
    src: url('../fonts/instock/AauxPro-Ultra.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Futura bt';
    src: url('../fonts/instock/Futura-XBlk-BT.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'FuturaStd';
    src: url('../fonts/instock/FuturaStd-Book.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Myriadpro regular';
    src: url('../fonts/instock/MyriadPro-Regular-_1_.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Myriadpro semibold';
    src: url('../fonts/instock/MyriadPro-Semibold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Futura bold';
    src: url('../fonts/instock/ufonts.com_futura-bold-condensed-bt.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
