footer{
	.col-md-12{
		background-color: $gray-dark;
		padding: rem(20px) 0;
		.navbar {
			margin: 0 0 0 0;
			border: none;
			width: 100%;
			@include mq('sm') {
				background-color: transparent;
			}
			.wpml-ls{
				ul {
					text-align: center;
					li {
						display: inline-block;
						a{
							span{
								color: $white;
							}
						}
					}
				}
			}

			@include mq('sm') {
				padding: 0 0;
				text-align: center;
			}

			.row-header {
				@include mq('sm') {
					display: flex;
					align-items: center;
					justify-content: space-evenly;
				}
			}


			// Scrolled menu styles
			&.scroll_menu {
				background-color: rgba(0,0,0,0.54);
				@include mq('sm') {
					background-color: rgba(0,0,0,0.54);
				}
			}


			&-header {
				@include mq('sm') {
					margin: rem(10px);
					display: inline-block !important;
					vertical-align: bottom;
					float: none;
				}
				.navbar-brand {
					display: inline-block;
					float: none;
					width: rem(80px);
					height: auto;
					margin: rem(12px);
					padding: 0 0;
					@include mq('md') {
						margin: 0 0;
						width: rem(120px);
					}
					img {
						max-width: 100%;
					}
				}
				.navbar-toggle {
					margin: rem(12px);
					background-color: $red;
					.icon-bar{
						background-color: $black;
					}
				}
			}

			.navbar-collapse {
				@include mq('sm') {
					display: contents !important;
					vertical-align: middle;
					float: none;
				}


				// Navigation wrapper
				.navigation-menu {
					display: block;
					@include mq('md') {
						display: inline-block;
						vertical-align: middle;
						padding: 0 rem(20px);
					}
				}

				// Menu
				ul {
					&.navbar-nav {
						float: none;
						clear: both;
						> li {
							display: block;
							text-align: center;
							padding: rem(8px);
							@include mq('sm') {
								text-align: left;
								display: inline-block;
								padding: rem(16px) 0;
								margin: 0 rem(20px);
								vertical-align: middle;
								float: none;
							}
							a {
								font-family: $myriad-semibold;
								padding: 0 rem(4px);
								text-transform: uppercase;
								color: $white;
								&:hover,
								&:focus {
									background-color: transparent;
									color: $gray-light;
								}


							}

						}
					}
				}
			}
		}
		.sub-footer{
			text-align: center;
			font-size: 14px;
				padding: rem(10px) rem(20px);
				@include mq('md'){
					padding: rem(10px) rem(200px);
				}
		}
	}

}
