body {
    .navbar {

			.container-fluid{
				text-align: center;
				a{
									img {
											display: inline-block;
											width: 300px;
									}


				}
			}

        &-nav {
            text-align: center;
            display: block;
            width: 100%;
            @include mq('md') {
                margin-top: rem(20px);
            }
            li {
                float: none;
                @include mq('md') {
                    display: inline-block;
                }
                a {
                    
                    color: $black;
                    @include mq('md') {
                        @include font(20px);
                    }
                }
            }
        }
    }
}
