body {
    .banner-verde{
      height: 15px;
      background-color: $green-cdi;
      margin-bottom: 40px;
    }
    .navbar {


			.container-fluid{
				text-align: center;
				a{
									img {
											display: inline-block;
											width: 250px;
									}


				}
        .navbar-header{
          .navbar-toggle{
            background-color: $green-cdi;
            .icon-bar{
              background: $white;
            }
          }
        }
			}

        &-nav {
            text-align: center;
            display: block;
            width: 100%;
            @include mq('md') {
                margin-top: rem(20px);
            }
            li {
                float: none;
                @include mq('md') {
                    display: inline-block;
                }
                a {
                    font-weight: 600;
                    color: $black;
                    @include mq('md') {
                        @include font(20px);
                    }
                }
                &.active{
                  a{
                    color: $green-cdi;
                    text-decoration: underline;

                }
            }

        }
        .dropdown-menu{
          .active{
            a{
              background-color: $white;
              &:hover{
                color: $black;
              }
            }
          }
        }
    }
}
}
