#informacion{
  .informacion{
    background-color: $gray;
    padding: rem(30px) rem(10px);
    @include mq('md'){
      display: flex;
      padding: rem(30px) rem(110px);
    }
    &--content{
      width: 100%;
      @include mq('md'){
        width: 50%;
      }
      padding: 0 rem(30px);
      .logo{
        text-align: center;
      }
      h4{
        font-family: $futurastd;
        text-decoration: underline;
        font-size: 47px;
      }
      p{
        padding: rem(10px);
        font-family: $futurastd;
      }
      a{

      }
    }
    .slider2{
      text-align: center;
      width: 100%;
      @include mq('md'){
        width: 50%;
      }
      img{
        width: 350px;
        height: auto;
        @include mq('md'){
          width: 450px;
          height: auto;
        }

      }
    }
  }
}
