#mapa{
  .mapa{
    padding: rem(30px) rem(10px);
    @include mq('md'){
      padding: rem(30px) rem(110px);
    }
    &--content{
      @include mq('md'){
        display: flex;
      }
      .informacion{
        width: 100%;
        text-align: center;
        @include mq('md'){
          width: 50%;
          padding: rem(70px) 0;
          text-align: left;
        }

        h4{
          text-transform: uppercase;
          font-family: $futura-bt;
    			margin-top: 0;
    			color: $black;
    			@include font(28px);
    			padding: rem(20px) 0 0;
    			@include mq('md') {
    				padding: rem(40px) 0 0;
    				@include font(36px);
    			}
        }
        p{
          font-family: $futurastd;
          a{
            color: $black;
            text-decoration: underline;

          }
        }
      }
      .imagen{
        width: 100%;
        text-align: center;
        @include mq('md'){
          width: 50%;
        }
        .mapa-img{
          img{
            width: 350px;
            height: auto;
            @include mq('md'){
              width: 450px;
              height: auto;
            }

          }
        }

      }
    }
  }
}
