section {
	p{
		font-size: 25px;
	}
	h1{
		font-size: 100px;
	}
	h2{
		font-size: 42px;
	}
	header {


		h3 {
			padding: rem(12px) 0;
			text-align: center;
		}

	}
}
header{
	h4{
		padding: 15px 0;
	}
}
